<footer class="bg-dark text-white text-center py-3">
    <div class="container d-flex justify-content-between">
        <div>
            © 2024 Blake Knight. All Rights Reserved.
        </div>
        <div class="footer-icons">
            <a href="https://www.instagram.com/sir.rend3r">
                <img src="/images/instagram-icon.png" alt="Instagram" style="width: 40px; margin-right: 15px;">
            </a>
            <a href="https://www.linkedin.com/in/hrhblakeknight/">
                <img src="/images/linkedin-icon.png" alt="LinkedIn" style="width: 40px;">
            </a>
        </div>
    </div>
</footer>
